<div class="page-header">
  <h1>Przedmioty</h1>
</div>
<table data-toggle="table" data-search="true">
  <thead>
  <tr>
    <th>Nazwa przedmiotu</th>
    <th>Nauczyciel</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.user.name_displayed %></td>
        <td>
          <%= link_to 'Pokaż', diary_view_path({subject_id: subject}), class: 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

