<div class="page-header">
  <h1>Przedmioty</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nazwa:</strong></dt>
  <dd><%= @subject.name %></dd>
  <dt><strong>Nauczyciel:</strong></dt>
  <dd><%= @subject.teacher %></dd>
</dl>

<%= link_to 'Lista', subjects_path, class: 'btn btn-default' %>
<div class="container">

  <h3><strong>Uczniowie:</strong></h3>
  <div class="col-4">
  <ul class="list-group">
    <% @subject.pupils.each do |subject| %>
        <li class="list-group-item list-group-item-action">
          <%= link_to "#{subject.name} #{subject.lastname}", '/' %>
        </li>
    <% end %>
  </ul>
</div>
</div>


